<a href="https://colab.research.google.com/github/deepNets-SRG/Introduction-to-ML-Jupyter/blob/master/Linear_Regression_Iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**deepNets-REC**

*   **Instructor- Sivaramarao Bodda**
*   **Raghu Engineering College, Visakhapatnam.**


This note book gives an idea of step by step procedure for using linear regression for predicting the sepal length of most widely used and publicly available Iris Flower Dataset.

In [ ]:
# Importing the python libraries needed for analysis and regression problem of the given data
from sklearn.datasets import load_iris
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.metrics import mean_squared_error

In [ ]:
# Loading data from from sklearn-datasets
iris = load_iris()

In [ ]:
# Input dataframe (X), with features of the Iris flower
df_input = pd.DataFrame(data= iris.data, columns= iris.feature_names)

In [ ]:
# Viewing sample input data X
df_input.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
# Assigning output/labels data to a dataframe
df_output = pd.DataFrame(data= iris.target, columns= ['flower_names'])

In [ ]:
df_output.head()

   flower_names
0             0
1             0
2             0
3             0
4             0

In [ ]:
def converter(specie):
    if specie == 0:
        return 'setosa'
    elif specie == 1:
        return 'versicolor'
    else:
        return 'virginica'

In [ ]:
df_output['flower_names'] = df_output['flower_names'].apply(converter)

In [ ]:
iris_df = pd.concat([df_input, df_output], axis= 1)

In [ ]:
iris_df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  flower_names
0                5.1               3.5  ...               0.2        setosa
1                4.9               3.0  ...               0.2        setosa
2                4.7               3.2  ...               0.2        setosa
3                4.6               3.1  ...               0.2        setosa
4                5.0               3.6  ...               0.2        setosa

[5 rows x 5 columns]

In [ ]:
iris_df.describe()

       sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
count         150.000000        150.000000         150.000000        150.000000
mean            5.843333          3.057333           3.758000          1.199333
std             0.828066          0.435866           1.765298          0.762238
min             4.300000          2.000000           1.000000          0.100000
25%             5.100000          2.800000           1.600000          0.300000
50%             5.800000          3.000000           4.350000          1.300000
75%             6.400000          3.300000           5.100000          1.800000
max             7.900000          4.400000           6.900000          2.500000

In [ ]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   flower_names       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
# Converting Objects to Numerical dtype
model_df = pd.concat([df_input, df_output], axis= 1)

In [ ]:


# Variables
X= model_df.drop(labels= 'sepal length (cm)', axis= 1)
y= model_df['sepal length (cm)']

In [ ]:
# Splitting the Dataset 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.33, random_state= 101)

In [ ]:
X_train

     sepal width (cm)  petal length (cm)  petal width (cm)  flower_names
69                2.5                3.9               1.1             1
23                3.3                1.7               0.5             0
101               2.7                5.1               1.9             2
4                 3.6                1.4               0.2             0
57                2.4                3.3               1.0             1
..                ...                ...               ...           ...
63                2.9                4.7               1.4             1
70                3.2                4.8               1.8             1
81                2.4                3.7               1.0             1
11                3.4                1.6               0.2             0
95                3.0                4.2               1.2             1

[100 rows x 4 columns]

In [ ]:
# Instantiating LinearRegression() Model
lr = LinearRegression()

In [ ]:
# Training/Fitting the Model
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# Making Predictions
lr.predict(X_test)
pred = lr.predict(X_test)

In [ ]:
# Evaluating Model's Performance
print('Mean Root Squared Error:', np.sqrt(mean_squared_error(y_test, pred)))

Mean Root Squared Error: 0.3189753840696638

In [90]:
sample_test=model_df.iloc[7]
sample_test

sepal length (cm)    5.0
sepal width (cm)     3.4
petal length (cm)    1.5
petal width (cm)     0.2
flower_names         0.0
Name: 7, dtype: float64

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  flower_names
7                5.0               3.4  ...               0.2             0

[1 rows x 5 columns]

In [73]:
X_sample_test=X.iloc[7:8]
X_sample_test

   sepal width (cm)  petal length (cm)  petal width (cm)  flower_names
7               3.4                1.5               0.2             0

In [93]:
pred_sample = lr.predict(X_sample_test)
print('Predicted sepal length:',pred_sample[0])
print('Actual sepal length:',sample_test[0])

Predicted sepal length: 5.023840103472749
Actual sepal length: 5.0