<a href="https://colab.research.google.com/github/deepNets-SRG/Introduction-to-ML-Jupyter/blob/master/Linear_Regression_Iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**deepNets-REC**

*   **Instructor- Sivaramarao Bodda**
*   **Raghu Engineering College, Visakhapatnam.**


This note book gives an idea of step by step procedure for using linear regression for predicting the sepal length of most widely used and publicly available Iris Flower Dataset.

In [4]:
# Importing the python libraries needed for analysis and regression problem of the given data
from sklearn.datasets import load_iris
import pandas as pd

In [2]:
# Loading data from from sklearn-datasets
iris = load_iris()

In [7]:
# Input dataframe (X), with features of the Iris flower
df_input = pd.DataFrame(data= iris.data, columns= iris.feature_names)

In [8]:
# Viewing sample input data X
df_input.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [9]:
# Assigning output/labels data to a dataframe
df_output = pd.DataFrame(data= iris.target, columns= ['flower_names'])

In [11]:
df_output.head()

   species
0        0
1        0
2        0
3        0
4        0

In [13]:
def converter(specie):
    if specie == 0:
        return 'setosa'
    elif specie == 1:
        return 'versicolor'
    else:
        return 'virginica'

In [15]:
df_output['species'] = df_output['species'].apply(converter)

In [17]:
iris_df = pd.concat([df_input, df_output], axis= 1)

In [18]:
iris_df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2   setosa
1                4.9               3.0  ...               0.2   setosa
2                4.7               3.2  ...               0.2   setosa
3                4.6               3.1  ...               0.2   setosa
4                5.0               3.6  ...               0.2   setosa

[5 rows x 5 columns]